name: Docker Container Test

on:
    workflow_run:
      workflows: ["Build & Push Production Docker Image"]
      types:
        - completed
  
jobs:
 test:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.workflow_run.head_sha }}

    - name: Start service with Docker Compose
      run: |
        docker compose up -d

    - name: Wait for service to start
      run: sleep 30

    - name: Check if service is running
      run: |
        if nc -z localhost 6667; then
          echo "Service is running"
        else
          echo "Service is not running"
          exit 1
        fi